/* overflow hidden 이 되어있어서 잘려있는 현상 */
img {
    max-width: 100%;
}



/* visual_slider */
.visual_slider figure {
    height: 600px;
    /* height: 100vh; 뷰포트 사이즈 아래위 100*/
    /* .visual_slider 안에있는 내용물에는 높이가 안들어있어서
    .visual_slider figure 에 높이를 주면 된다. */
}

/* background 이미지 가져올 때 각각 이름을 불러와서 깔아준다 */
.visual_slider .itm01 {
    background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
    /* cover 어떻게든 박스를 채우는 이미지
   contain 어떻게든 백그라운드를 보여줘라 */
}

.visual_slider .itm02 {
    background: url(../img/mainvisual02.jpg) no-repeat center center/cover;

}

.visual_slider .itm03 {
    background: url(../img/mainvisual03.jpg) no-repeat center center/cover;

}

/* slogan */

.main {
    position: relative;
}

.main .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 팝업띄우는 공식으로 외웠지! */
    width: 1200px;
    /*  1200px의 라인을 맞춰주기 위해 */
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.main .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.main .slick-dots li {
    display: inline-block;
    /* 슬릭에 장치가 있어서 박스가 4px 안뜨고 딱 붙어있다. */
    width: 100px;
    height: 6px;
    background: #333;
    margin: 0 2px;
}

/* .main .slick-dots li.slick-active {
    background: #f00;
} */

.main .slick-dots li button {
    display: none;
}

.main .slick-dots li::after {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background: #f00;
}

.main .slick-dots li.slick-active::after {
    width: 100%;
    transition: 2s;
}

.main .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    z-index: 999;

    /* 버튼의 글자, 아웃라인, 백그라운드 컬러 없앰 */
    font-size: 0;
    border: none;
    background: transparent;

    width: 100px;
    height: 100px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    opacity: 0.3;

}

.main .slick-arrow:hover {
    opacity: 1;
    transition: 0.3s;

}

/* .main .slick-prev {
    left: 100px;
}

.main .slick-next {
    left: auto;
    right: 100px;
} */

/* left: 100px; right: 100px;만 쓰면 next 박스가 left값까지 받아서 늘어나는 이상한 현상  */

.main .slick-prev {
    margin: 0 0 0 -700px;
    transform: translate(-50%, -50%) rotate(-45deg)
}

.main .slick-next {
    margin: 0 0 0 700px;
    transform: translate(-50%, -50%) rotate(135deg)
}

/* margin 주면 반응형에서 사이즈를 바꿔야함 */


/* 마지막 wheel */
.main .wheel {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);

    width: 30px;
    height: 55px;
    border: 2px solid #fff;
    border-radius: 15px;
    font-size: 0;
}

.main .wheel span {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);

    width: 2px;
    height: 12px;
    background: #fff;
    border-radius: 1px;
    animation: wheel 0.5s infinite;
}

@keyframes wheel {
    to {
        top: 15px;
    }
}