img {
    max-width: 100%;
}

.Wrap {}

.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;

}

.inner {
    width: 1200px;
    margin: 0 auto;
}

/* 2022.06.20 tae topBanner */

.topBanner {
    padding: 30px 0;
    background: #f1f1f1;
}

.topBanner .inner {
    position: relative;
}

.topBanner h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.topBanner p {
    font-size: 15px;
    font-weight: 300;
}

.topBanner a {
    margin: 0 0 0 10px;
    /* display: inline-block; */
    padding: 3px 15px 5px 15px;
    background: #333;
    color: #fff;
}

.topBanner i {
    position: absolute;
    inset: 0 0 auto auto;
    font-size: 21px;
    padding: 5px;
    background: #ddd;
    border-radius: 3px;
}

#header {
    line-height: 100px;
    border-bottom: 1px solid #ddd;
}

#header .container {
    justify-content: space-between;

}

#header nav>ul {
    display: flex;

}

#header nav>ul>li>a {
    padding: 0px 15px;
    font-size: 15px;
}

#header nav>ul>li~li::before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 14px;
    background: #ddd;
}

#header a {
    /* display: block; */

    display: inline-block;

}

#searchForm input[type="text"] {
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    padding: 5px 0;
}

#searchForm input[type="text"]::placeholder {
    color: #f00;
}

#searchForm input[type="text"]:focus::placeholder {
    /* display: none; */
    opacity: 0;
}


#searchForm button {
    background: transparent;
    outline: none;
    border: none;
    font-size: 21px;
}

.mainVisual {
    position: relative;
}

.mainVisual .mainSlider figure {
    position: relative;
    height: 600px;
}

.mainVisual .mainSlider .itm01 {
    background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlider .itm02 {
    background: url(../img/mainvisual02.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlider .itm03 {
    background: url(../img/mainvisual03.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlider .inner {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 0 3px #000;
}


.mainVisual .mainSlider .inner h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.mainVisual .mainSlider .inner p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 10px 0;
}

.mainVisual .mainSlider .inner a {
    display: inline-block;
    /* display: block;
    width: 100px; */
    padding: 5px 20px 7px 20px;
    background: #333;
}


.mainVisual .mainSlider figure h2 {
    transform: translateX(-100px);
    opacity: 0;
}


.mainVisual .mainSlider figure.on h2 {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s;
}

.mainVisual .mainSlider figure p {
    transform: translateX(-100px);
    opacity: 0;
}


.mainVisual .mainSlider figure.on p {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.mainVisual .mainSlider figure a {
    transform: translateX(-100px);
    opacity: 0;
}


.mainVisual .mainSlider figure.on a {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s 1s;
}

.mainVisual .mainSlider .slick-dots {
    position: absolute;
    inset: auto auto 100px 50%;
    transform: translateX(-50%);
}

.mainVisual .mainSlider .slick-dots li {
    display: inline-block;
}

.mainVisual .mainSlider .slick-dots li button {
    border-radius: 50%;

    outline: none;
    border: none;
    width: 22px;
    height: 22px;
    margin: 0 3px;
}

.mainVisual .mainSlider .slick-dots li.slick-active button {
    background: #f00;
    color: #fff;
}

.slideNum {
    position: absolute;
    inset: 50px auto auto 50%;
    margin: 0 0 0 600px;
    transform: translateX(-100%);
    color: #ddd;
    text-shadow: 0 0 3px #000;
    font-size: 19px;
}

.mainArrow i {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.5);
    font-size: 100px;
}

.mainArrow i.on {
    color: rgba(0, 0, 0, 0.5);
}

.mainArrow i:nth-child(1) {
    margin: 0 0 0 -700px;
}

.mainArrow i:nth-child(2) {
    margin: 0 0 0 700px;
}

/* 2022.06.21 tae mainContent */
.mainContent {
    padding: 100px 0;
    text-align: center;
}

.mainContent h2 {
    margin: 0 0 10px 0;
    font-size: 19px;
    font-weight: 700;
}

.mainContent p {
    margin: 0 0 30px 0;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.025em;
}

/* 다른건 줄여도 되는데 가장 바깥박스는 적어주자 */
.mainContent .container {
    /* img { max-width: 100%;} 을 줬기 때문에 */
    /* display: flex; */
    gap: 30px;
    /* width: 1200px;
    margin: 0 auto; */
}

.mainContent .container figure {
    flex: 1;
}

.mainContent .container img {
    margin: 0 0 10px 0;
}

.mainContent .container strong {
    display: block;
    margin: 0 0 10px 0;
    font-size: 15px;
}

.mainContent .container a {
    /* 신축성있는 박스 */
    display: inline-block;
    padding: 5px 10px 7px 10px;
    background: #333;
    color: #fff;
    font-size: 15px;
    /* width: 100px;
    margin: 0 auto; 
    버튼이 제 구실을 못하게 된다.(박스가 신축성이 없어서)*/
}

.mainContent2 {
    padding: 100px 0;
    text-align: center;
    /* 섹션과 섹션사이에 경계 */
    /* border-top: 1px solid #ddd; */
    background: #f9f9f9;

}

.mainContent2 h2 {
    margin: 0 0 10px 0;
    font-size: 19px;
    font-weight: 700;
}

.mainContent2 p {
    margin: 0 0 30px 0;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.025em;
}

.mainContent2 .container {
    gap: 30px;
}

.mainContent2 .container figure {
    flex: 1;
}

.mainContent2 .container img {
    margin: 0 0 10px 0;
}

.mainContent2 .container strong {
    display: block;
    margin: 0 0 10px 0;
    font-size: 15px;
}

.mainContent2 .container a {
    /* 신축성있는 박스 */
    display: inline-block;
    padding: 5px 10px 7px 10px;
    background: #333;
    color: #fff;
    font-size: 15px;
    /* width: 100px;
    margin: 0 auto; 
    버튼이 제 구실을 못하게 된다.(박스가 신축성이 없어서)*/
}

.mainContent3 {
    padding: 100px 0;
    text-align: center;
    /* 섹션과 섹션사이에 경계 */
    /* border-top: 1px solid #ddd; */
    /* background: #f9f9f9; */

}

.mainContent3 h2 {
    margin: 0 0 10px 0;
    font-size: 19px;
    font-weight: 700;
}

.mainContent3 p {
    margin: 0 0 30px 0;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.025em;
}

.mainContent3 .container {
    gap: 30px;
}

.mainContent3 .container figure {
    flex: 1;
}


.mainContent3 .container strong {
    display: block;
    margin: 0 0 10px 0;
    font-size: 15px;
}

.mainContent3 .container a {
    /* 신축성있는 박스 */
    display: inline-block;
    padding: 5px 10px 7px 10px;
    background: #333;
    color: #fff;
    font-size: 15px;
    /* width: 100px;
    margin: 0 auto; 
    버튼이 제 구실을 못하게 된다.(박스가 신축성이 없어서)*/
}

/* 마우스 hover 했을 때 동그라미되도록 바꿨다. */
.mainContent3 figure .box {
    overflow: hidden;
    margin: 0 0 10px 0;
    transition: border-radius 0.5s;
    /* border-radius 안줘도 먹힌다. */
}

/* 박스가 hover될 때 margin값 까지 위에 넣어 가둬준다.
.mainContent3 .container img {
    margin: 0 0 10px 0;
} */

.mainContent3 figure:hover .box {
    border-radius: 50%;
}



.mainContent3 figure {
    /* overflow: hidden; */
    /* 여전히 아래로 흘러넘친다. - 이미지를 박스로 한꺼풀 싸준다. */
}

/* 이미지가 커지는데 선이 흘러넘친다 다른것을 덮어쓴다(이미지 아래에 있는것조차) = z-index가 젤위로 가버리는 느낌- 부모박스에  overflow: hidden; 을 줬다. */
.mainContent3 figure img {
    transition: transform 0.5s;
}

.mainContent3 figure:hover img {
    transform: scale(1.3);
}

/* 2022.06.21 tae mainContent */

.fixedBg {
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/mainvisual03.jpg) no-repeat fixed center center/cover;
    filter: grayscale(1);
    /* 이미지를 자리에 고정시키기 축약형으로 백그라운드에 포함시킴. */
    /* background-attachment: fixed; */
}


.fixedBg h2 {
    margin: 0 0 10px 0;
    font-size: 19px;
    font-weight: 700;
}

.fixedBg p {
    margin: 0 0 30px 0;
    font-size: 15px;
    font-weight: 300;
}

.fixedBg i {
    padding: 5px;
    /* 필터가 상속을 받아서 색상이 바뀌지 않음 opacity가 상속되었던것처럼 */
    background: rgb(5, 78, 41);
    vertical-align: -10%;
    border-radius: 50%;
}

.fixedBg2 {
    padding: 100px 0;
    /* 마진 추가 */
    margin: 0 0 50vh 0;
    text-align: center;
    color: #fff;
    background: url(../img/mainvisual03.jpg) no-repeat fixed center center/cover;
    /* 이미지를 자리에 고정시키기 축약형으로 백그라운드에 포함시킴. */
    /* background-attachment: fixed; */
}


.fixedBg2 h2 {
    margin: 0 0 10px 0;
    font-size: 19px;
    font-weight: 700;
}

.fixedBg2 p {
    margin: 0 0 30px 0;
    font-size: 15px;
    font-weight: 300;
}

.fixedBg2 i {
    padding: 5px;
    /* 필터가 상속을 받아서 색상이 바뀌지 않음 opacity가 상속되었던것처럼 */
    background: rgb(5, 78, 41);
    vertical-align: -10%;
    border-radius: 50%;
}


/* map */
.service {
    padding: 100px 0;
}

.service .container {
    gap: 30px;
}

.service .container>div {
    flex: 1;
}

.service .container .case {
    position: relative;
    padding-bottom: 56.25%;
}

.service .container iframe {
    position: absolute;
    inset: 0 0 0 0;
}

.service .container .root_daum_roughmap {

    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
}

.service .container .root_daum_roughmap .wrap_map {
    height: 100%;
}

/* 2022.06.22. tae ytb */

.ytb {
    padding: 100px 0;
    color: #333;
    text-align: center;
    /* filter: grayscale(1); */
}

.ytb h2 {
    margin: 0 0 10px 0;
    font-size: 19px;
    font-weight: 700;
}

.ytb p {
    margin: 0 0 30px 0;
    font-size: 15px;
    font-weight: 300;
}

.ytb i {
    padding: 5px;
    /* 필터가 상속을 받아서 색상이 바뀌지 않음 opacity가 상속되었던것처럼 */
    background: rgb(255, 255, 255);
    vertical-align: -10%;
    border-radius: 50%;
}

/* 2022.06.22. tae scrollme */

.scrollMe {
    padding: 100px 0;
}

.scrollMe .container {
    gap: 20px;
}

.scrollMe .container figure {
    flex: 1;
}

/* 2022.06.23. tae product */

.product {
    position: relative;
    padding: 100px 0;
    text-align: center;
    border-top: 1px solid #ddd;
}

.product h2 {
    margin: 0 0 10px 0;
    font-size: 19px;
    font-weight: 700;
}

.product h2::after {
    content: "";
    display: block;
    width: 3px;
    height: 50px;
    background: rgb(8, 117, 63);
    margin: 10px auto;
}

.product p {
    margin: 0 0 30px 0;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.025em;
}

/* flex 상태가 아님! */
.product .productSlider figure {
    padding: 0 15px;
    font-size: 13px;
}

.product .productSlider figure img {}


.product .productSlider figure.slick-center img {
    transform: scale(1.2);
    transition: transform 0.5s;
}

.product .productSlider .inbox {
    overflow: hidden;
    margin: 0 0 10px 0;
}

.product .productSlider strong {
    display: block;
    margin: 0 0 10px 0;
}

.product .productSlider a {
    display: inline-block;
    /* 구매하기가 더 커졌을 때 볼륨을 주기 위해서 */
    padding: 5px 15px;
    background: rgb(5, 78, 41);
    color: #fff;
    margin: 0 0 10px 0;
}

.product .productSlider .slick-dots li {
    display: inline-block;
    margin: 0 2px;
    padding: 20px 0 0 0;

}

.product .productSlider .slick-dots li button {
    border: none;
    outline: none;
    background: #ddd;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    /* slick에서의 버튼 자체가 텍스트를 가운데에 오게하려고 하는데
    내가 버튼의 높이를 특정해준 바람에 생기는 에러가 있다 정도..? 기억하기
    맨날 특정해주기 어려우니까 어딘가에 만들어놓으면 좋겠다..? 라고 하심 
    조절해봐~~~*/
    /* padding: 0 0;이놈들은 왜인지 안먹었음 */
    font-size: 13px;
    vertical-align: top;
}

.product .productSlider .slick-dots li.slick-active button {
    background: #888;
}

/* .inner {
    position: relative;
} */

.product .productArrows i {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    background: rgba(136, 136, 136, 0.5);
    color: #fff;
    border-radius: 5px;
}

.product .productArrows i:nth-child(1) {
    margin: 0 0 0 -600px;
}

.product .productArrows i:nth-child(2) {
    margin: 0 0 0 600px;
}


/* 2022.06.23. tae serviceTab */

.serviceTab {
    padding: 100px 0;
    background: #f1f1f1;
}

.serviceTab .container {
    gap: 30px;
    /* 추가 */
    /* flex-wrap: wrap; */
}

.serviceTab .container>div {
    flex: 1;
    /* 추가 */
    /* flex: 1 1 40% */
}

/* html에 class="on" 을 붙여줬다. */

.serviceTab .tab_content>div {
    display: none;
}

.serviceTab .tab_content>div.on {
    display: block;
}

.serviceTab .tab_menu {
    display: flex;
    background: #ddd;
    color: #333;
}

.serviceTab .tab_menu li {
    flex: 1;
}

.serviceTab .tab_menu li.on {
    background: rgb(5, 78, 41);
    color: #fff;
}

.serviceTab .tab_menu li~li {
    border-left: 1px solid #fff;
}

.serviceTab .tab_menu li a {
    display: block;
    padding: 10px 15px;
}

.tab_content .notice a {
    display: flex;
    justify-content: space-between;
}

.tab_content li {
    border-bottom: 1px solid #fff;
    line-height: 30px;
}

.tab_content li:nth-last-child(1) {
    border-bottom: none;
}

.tab_content .notice strong {
    white-space: nowrap;
    /* 이놈때문에 메뉴가 넓어져서 아래 값을 줬다. */
    overflow: hidden;
    /* width값을 조정하니 메뉴가 다시 넓어져버렸다. */
    width: 450px;
    text-overflow: ellipsis;
    /* https://webruden.tistory.com/655 */
}

/* 플렉스의 문제점이 있었다 */
.right {
    position: relative;
    background: #fff;
    padding: 10px;
}

.right_content li {
    display: none;
    text-align: center;
}

.right_content li h2 {
    margin: 0 0 10px 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}

.right_content li p {

    margin: 0 0 10px 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

.right_content li a {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 1px solid #ddd;
    padding: 3px 20px 5px 20px;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}



.right_content li.on {
    display: block;
}

/* 2022.06.23. tae 누르면 top으로 가는 버튼 js */

.toTop {
    display: none;
    position: fixed;
    inset: auto 50px 50px auto;
    z-index: 999;
}

.toTop i {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;

}

/* 2022.06.24. tae footer */

#footer {
    background: #333;
    color: #fff;
    line-height: 80px;
    font-size: 15px;
    font-weight: 300;
}

#footer .top dt,
#footer .top dd {
    display: inline-block;
    /* padding: 0 15px 0 15px;*/
}

#footer .top dt {
    font-weight: 500;
}

#footer .top {
    border: 1px solid #555;
}

#footer .top dt::before,
#footer .top dd~dd::before {
    content: "";
    display: inline-block;
    /* padding이 안먹어서 빼고 여기 마진을 줬다. */
    margin: 0 15px;
    width: 1px;
    /* (footer에) 위에 정해놓은 사이즈보다 작아야한다. */
    height: 13px;
    background: #666;
}

/* 앞글씨가 들여쓰기 되어서 바꿔줬는데!! 마진 주면서 없앴다. */
#footer .top dd:nth-child(1) {
    /* padding: 0 15px 0 0; */
    /* padding left none 해도됨*/
}

#footer .top a {
    /* display: block; a에 손가락이 꽉찰 필요가 있을까?*/
}

#footer .top i {
    font-size: 25px;
}

#footer .container {
    justify-content: space-between;
}

#footer .top .sns>a~a {
    margin: 0 0 0 10px;
}

#footer .bottom address {
    /* 얘는 보통 리셋에 잡혀있다. */
    font-style: normal;
}

#footer .bottom address a {
    margin: 0 px 0 0;
}

/* 디자인은 https://jqueryui.com/selectmenu/ */
#footer .bottom select {
    background: transparent;
    color: #ddd;
    padding: 0 15px;
    border: 1px solid #555;
    font-size: 12px;
    text-transform: uppercase;
}

#footer .bottom option {
    color: #fff;
    background: #333;
}