h1 {
    line-height: 100px;
    background: red;
}

h2 {
    text-align: center;
}

nav {
    line-height: 100px;
    background: blue;
}

.right {
    line-height: 100px;
    background: #ff0;
}

p {
    line-height: 50px;
    text-align: center;
}

em {
    line-height: 50px;
}

.header01 {
    display: flex;
}

/*display flex 쪼그라들어서(inline block) 1공간을 없애고 2박스가 가로로 배열되는 모습 */

.header02 {
    display: flex;
    justify-content: center;
}

.header03 {
    display: flex;
    justify-content: space-between;
}

/* space-between 비어있는 양옆 공간을 같게 만들어 준다 */

.header04 {
    display: flex;
    justify-content: space-between;
}

.header05 {
    display: flex;

}

.header05 nav {
    margin: 0 0 0 auto;
}

.header06 {
    display: flex;
}

.header06 nav {
    margin: 0 0 0 auto;
}

.basic {
    line-height: 100px;
}

.basic .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.basic nav {
    margin: 0 0 0 auto;
}

.basic nav ul {
    display: flex;
    gap: 30px;
}

.basic .icon {
    margin: 0 0 0 30px;
}

.bottom {
    line-height: 100px;
}

.bottom .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.bottom nav {
    margin: 0 0 0 auto;
}

.bottom nav ul {
    display: flex;
    gap: 30px;
}

.bottom .icon {
    margin: 0 0 0 30px;
}