.basic01 {
    padding: 100px 0;
    background: #f8eeff;
    text-align: center;
    /*밖에 있는 큰 네모는 보통 패딩을 준다 마진은 겹치니까*/
}

.basic01 h2 {
    color: #ad52e5;
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.basic01 p {
    font-size: 14px;
    margin: 0 0 20px 0;
}

.basic01 .container {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.basic01 .container img {
    width: 100%;
}

.basic01 figure {
    flex: 1;
}

.basic01 .container p {
    color: #767676;
    font-size: 13px;
    margin: 10px 0 0 0;
}

.basic01 .container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}