/* 똑같은 이름 없으니 선택자가 단순해진다 */
/*css는 부모 자식 후손 거꾸로는 못감*/
/*마우스가 올라갔을 때 hover*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

#event {
    padding: 100px 0;
    text-align: center;
}

#event h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

/*before after로 바 만드는 것은 치장용으로만 쓰자!*/
#event h2::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background: blue;
    margin: 0 10px;
    vertical-align: middle;
}

#event h2::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background: blue;
    margin: 0 10px;
    vertical-align: middle;
}

#event .h22 {
    font-size: 15px;
    font-weight: 100;
    margin: 0 0 30px 0;
}

#event p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
    line-height: 1.4;
}

#event .container {
    display: flex;
    gap: 30px;
    /*일반적. 정해진 프레임워크? ie에서 안됨*/
    width: 1200px;
    /*일반적. 정해진 프레임워크? +-30을 한다*/
    margin: 0 auto 30px auto;
}

#event img {
    max-width: 100%;
    transition: 0.5s;
}

/* event와 figure는 자식이 아니고 후손의 관계라서 event figure
자식이라면 event>figure */
#event figure {
    position: relative;
    flex: 1;
    /*고집부려 소리질러 1분코딩 flex 검색해보기*/
    overflow: hidden;
    /*박스 밖으로 넘치는 것을 없애버려라*/

}

#event .icon::before {
    content: "";
    display: block;
    /*content:"";라는 가상요소는 ::before, after과 같이 나와야 한다.*/
    width: 1px;
    height: 100px;
    background: blue;
    margin: 20px auto
}

#event i {
    margin: 0 5px;
    padding: 10px;
    background: #333;
    color: #fff;
    border-radius: 30px;

}


#event .container figure:hover img {
    transform: scale(2);
    /*transform은 레이아웃을 안깬다. 박스를 변형시키지 않는다.그림 커졌을 때 1200을 넘지 않던 모습*/
}

#event figure a {
    position: absolute;
    top: -40px;
    /*피규어가 기준이 되었고 오버플로우 기능이 있어서*/
    left: 0;
    padding: 10px 30px;
    background: #333;
    color: #fff;
    transition: 0.5s;
}

#event figure:hover a {
    top: 0;
}