body {
    background: #ff0;
}

.smile {
    position: absolute;
    /* position: relative, absolute, fixed 모두 기준이 된다. */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 중앙에 오게하는 공식! */
    width: 500px;
    height: 500px;
    background: #f00;
    border-radius: 50%;
}

.smile>li {
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
}

.smile.active>li {
    transform: rotate(225deg);
}

/* solid, dotted, dashed */
/* smile li에서 탑, 레프트 값을 주면 아래 탑 레프트 값에 영향을 주겠지? */

.smile>li:nth-child(1) {
    top: 200px;
    left: 100px;
}

.smile>li:nth-child(2) {
    top: 200px;
    right: 100px;
}

.smile>li:nth-child(3) {
    bottom: 100px;
    left: 225px;
}

.top_banner .container {
    height: 50px;
    overflow: hidden;
    transition: 0.5s;
}

.top_banner .container.active {
    height: 0;
}

/* auto 상태에서 height:0 */