// * {
//     outline: 1px solid #f00;
// }

// .fp-overflow {
//     overflow: hidden;
// }

html {
    font-size: 10px;
    height: 100%;
    color: #212529;
}

//https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Images/Using_CSS_gradients

body {
    height: 100%;
    font-size: 1.6rem;
    background: linear-gradient(217deg,
            rgba(251, 214, 227, 0.8),
            rgba(255, 255, 255, 0.1) 70.71%),
        linear-gradient(127deg,
            rgba(202, 212, 255, 1),
            rgba(255, 255, 255, 1) 70.71%),
        linear-gradient(336deg,
            rgba(50, 63, 159, 0.9),
            rgba(32, 37, 77, 1) 70.71%);
    // background: linear-gradient(217deg,
    //         rgba(251, 214, 227, 0.8),
    //         rgba(255, 255, 255, 0.2) 70.71%),
    //     linear-gradient(127deg,
    //         rgba(122, 130, 177, 0.8),
    //         rgba(255, 255, 255, 0.8) 70.71%),
    //     linear-gradient(336deg,
    //         rgba(140, 157, 190, 1),
    //         rgba(36, 37, 77, 1) 80%);
}

.Wrap {
    position: relative;

    #text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        stroke-dasharray: 951;
        animation: 3s fillSvg infinite;

        // https://mingoogle.tistory.com/m/9
        // https://www.youtube.com/watch?v=6sGpaZih3Yc
        // document.querySelector("polyline").getTotalLength()
        // 951.965576171875

        @keyframes fillSvg {
            0% {
                stroke-dashoffset: 951;
            }

            100% {
                stroke-dashoffset: 0;
            }
        }

        .loading {
            height: 4rem;
            width: 8rem;

            svg {
                .cls-1 {
                    fill: none;
                    stroke: #262e56;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 5px;
                }
            }
        }
    }

}

.PF {
    &.on {
        background:
            // rgb(158, 186, 243)
            // rgb(53, 58, 175)
            // rgba(50, 63, 159, 0.9),

            // linear-gradient(217deg,
            //     rgba(251, 214, 227, 0.5),
            //     rgba(255, 255, 255, 0) 70.71%),
            // linear-gradient(127deg,
            //     rgba(122, 130, 177, 0.4),
            //     rgba(0, 0, 0, 0.4) 70.71%),
            // linear-gradient(336deg,
            //     rgb(164, 194, 255),
            //     rgb(46, 45, 121) 80%);

            linear-gradient(217deg,
                rgba(251, 214, 227, 0.5),
                rgba(255, 255, 255, 0) 70.71%),
            linear-gradient(127deg,
                rgba(122, 130, 177, 0.5),
                rgba(0, 0, 0, 0.4) 70.71%),
            linear-gradient(336deg,
                rgba(140, 157, 190, 0.6),
                rgb(42, 43, 105) 80%);

        color: #f5f5f5;

        .gnb {
            .navigation {
                h1 {
                    color: #ffffff;
                    font-weight: 500;
                }

                ul {
                    li {
                        color: #f5f5f5;
                        font-weight: 400;
                    }
                }
            }
        }

        .btn {
            border: 1px solid #f7f7f7;
            color: #f5f5f5;
        }

        .icon {
            img {
                // filter: invert(94%) sepia(5%) saturate(81%) hue-rotate(1deg) brightness(122%) contrast(94%);
                filter: invert(15%) sepia(45%) saturate(546%) hue-rotate(202deg) brightness(91%) contrast(94%);
            }
        }

        dd,
        .des {
            font-weight: 100;
        }

        .color {
            dd {
                border: 1px solid rgb(247, 247, 247, 0);
            }
        }

        .section {
            .slideArrows {
                button {
                    border: 1px solid rgb(245, 245, 245, 0.7);
                    color: #f5f5f5;

                    &:hover {
                        background: rgba(122, 130, 177, 0.9);
                        border: 1px solid #f5f5f5;
                    }
                }
            }
        }


        .dark_btn {
            label {
                background: rgb(245, 245, 245, 0.7);
            }

        }

        .license {
            p {
                color: #f5f5f5;

                span {
                    color: #f5f5f5;
                }
            }
        }

        footer {
            .icon {
                color: #f5f5f5;

                img {
                    filter: invert(100%) sepia(1%) saturate(665%) hue-rotate(185deg) brightness(117%) contrast(92%);
                }
            }
        }

        .grid {
            ul {
                li {
                    border: 1px solid rgba(0, 0, 0, 0);
                    background-color: rgba(122, 130, 177, 0.9);
                }
            }
        }
    }
}


.PFinner {
    position: relative;
    width: calc(100% - 20rem);
    margin: 0 auto;
}

.btn {
    padding: 0.7rem 1.7rem;
    border: 1px solid #212529;
    border-radius: 0.5rem;
}

.gnb {
    position: fixed;
    width: calc(100% - 20rem);
    z-index: 999;

    .navigation {
        display: flex;
        justify-content: space-between;
        line-height: 10rem;

        h1 {
            font-size: 2.3rem;
            font-weight: 600;
        }

        nav {
            display: flex;
            justify-content: flex-end;

            ul {
                li {
                    display: inline-block;
                    margin: 0 2rem 0 0;
                    font-size: 1.8rem;
                    font-weight: 500;
                    color: #212529;
                }

                margin: 0 2rem 0 0;
            }
        }

        .dark_btn {
            display: block;
        }
    }
}

.cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130rem;
    margin: 0 auto;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            text-indent: -0.3rem;
            font-size: 5rem;
            font-weight: 400;
            margin: 0 0 1.5rem 0;
            line-height: 1.2;

            span {
                font-size: 6rem;
                font-weight: 600;
            }
        }

        p {
            text-align: left;
            margin: 2rem 0 0 0;
            font-size: 2rem;
            font-weight: 400;
        }
    }

    .right {
        display: flex;
        align-items: center;


        figure {
            width: 400px;
            height: 520px;

            &.tae01 {
                background: url(../../public/image/tae01.png)no-repeat center center/cover;
            }
        }

    }
}


.prototypeSlide {
    position: relative;
    width: 130rem;
    margin: 0 auto;

    .case {
        display: flex;
        gap: 3rem;
        justify-content: space-between;

        .inner {
            display: flex;
            gap: 5rem;

            .content {
                flex: 0.3;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .up {
                    h2 {
                        text-indent: 0.2rem;
                        font-size: 1.8rem;
                        margin: 0 0 1rem 0;
                    }

                    .stit {
                        font-size: 3.5rem;
                        font-weight: 500;
                        margin: 0 0 3rem 0;
                    }

                }

                .des {
                    white-space: pre-wrap;
                    word-break: keep-all;
                    font-size: 1.5rem;
                    line-height: 1.45;
                    margin: 0 0 3rem 0;
                }

                .down {

                    .type,
                    .font {
                        margin: 0 0 1.2rem 0;
                    }

                    dl {
                        display: flex;
                        gap: 1rem;

                        dt {
                            font-size: 1.7rem;
                            font-weight: 600;
                        }

                        dd {
                            font-size: 1.5rem;
                            line-height: 1.2;
                        }

                    }

                    .color {
                        display: flex;
                        gap: 1rem;
                        margin: 0 0 2.5rem 0;

                        dd {
                            font-size: 0;
                            width: 1.5rem;
                            height: 1.5rem;
                            border-radius: 0.4rem;
                            border: 1px solid rgb(51, 51, 51, 0.5);
                        }

                    }
                }
            }

            .preview {
                flex: 0.7;

                figure {
                    width: 100%;
                    height: calc(100vh - 30rem);
                    border: 1px solid #212529;
                    border-radius: 1rem;
                    // overflow-y: hidden;

                    &.itm01 {
                        background: url(../../public/image/itm01.png) no-repeat center top/cover;
                    }

                    &.itm02 {
                        background: url(../../public/image/itm02.png) no-repeat center top/cover;
                    }

                    &.itm03 {
                        background: url(../../public/image/itm03.png) no-repeat center top/cover;
                    }

                    &.itm04 {
                        background: url(../../public/image/itm04.png) no-repeat center top/cover;
                    }

                    &.itm05 {
                        background: url(../../public/image/itm05.png) no-repeat center top/cover;
                    }
                }

                // ul {
                //     display: flex;
                //     gap: 1.5rem;
                //     justify-content: flex-end;
                //     margin: 0 0 4.5rem 0;
                // }

            }
        }
    }
}


// slide button
.section {
    position: relative;

    .slideArrows {

        button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 1rem 1rem 0.5rem 1rem;
            font-size: 2rem;
            background: inherit;
            border: 1px solid #212529;
            border-radius: 0.5rem;
            cursor: pointer;

            &:hover {
                background: rgb(160, 163, 201);
                // border: 1px solid rgb(255, 255, 255, 0);
            }

            &:first-child {
                margin: 0 0 0 -700px;

            }

            &:last-child {
                margin: 0 0 0 700px;
            }
        }

    }


}

.case {
    .grid {
        display: flex;
        gap: 30px;
        width: 130rem;
        margin: 0 auto;

        figure {

            width: 413px;
            height: 300px;
            border-radius: 1rem;
            margin: 0 0 2rem 0;
            border: 1px solid #212529;

            &.training01 {
                background: url(../../public/image/training01.png)no-repeat center top/cover;
            }

            &.training02 {
                background: url(../../public/image/training02.png)no-repeat center top/cover;
            }

            &.training03 {
                background: url(../../public/image/training03.png)no-repeat center top/cover;
            }
        }

        h3 {
            font-size: 17px;
            font-weight: 500;
            margin: 0 0 1rem 0;
            color: #212529;
        }

        ul {
            display: flex;
            gap: 1rem;

            li {
                font-size: 14px;
                font-weight: 400;
                border: inherit;
                background-color: rgb(208, 210, 235);
            }
        }
    }

    // .grid {
    //     display: grid;
    //     grid-template-rows: 1fr 1fr;
    //     grid-template-columns: repeat(3, 1fr);
    //     row-gap: 30px;

    //     figure {
    //         width: 413px;
    //         height: 313px;
    //         background: #f00;
    //         border-radius: 1rem;
    //     }
    // }
}



// 슬라이드 기본 padding
.slick-list {
    padding: 0 -1.5rem;
}

.slick-slide {
    padding: 0 1.5rem;
}


.dark_btn {
    position: relative;

    button {
        // position: absolute;
        // top: 0;
        // left: 0;
        visibility: hidden;
        width: 60px;
        z-index: -1;
    }

    label {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: inline-block;
        width: 60px;
        height: 30px;
        background: rgb(160, 163, 201);
        // background: rgb(168, 160, 190);
        font-size: 0;
        border-radius: 15px;

        &::after {
            content: "";
            position: absolute;
            width: 26px;
            height: 26px;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            background: #fff
        }

        &.on::after {
            background: rgb(83, 70, 92);
            left: auto;
            right: 2px;
        }
    }
}



.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130rem;
    margin: 0 auto;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            text-indent: 0.3rem;
            font-size: 5rem;
            font-weight: 400;
            margin: 0 0 3rem 0;
            line-height: 1.2;

            span {
                font-size: 6rem;
                font-weight: 600;
            }
        }

        ul {
            margin: 0 0 3rem 0;

            li {
                position: relative;
                text-align: left;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.6;
                text-indent: 1.5rem;

                &::before {
                    content: "";
                    position: absolute;
                    top: -0.2rem;
                    left: 1rem;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 0.4rem;
                    background: rgb(160, 163, 201);
                    z-index: -1;
                }

                a {
                    display: inline-block;
                    margin: 0 0 0.5rem 1.5rem;
                    text-indent: 0.3rem;
                }
            }

        }

        button {
            margin: 1rem 10rem;
            background: inherit;
            cursor: pointer;

            &:hover {
                background: rgb(160, 163, 201);
            }
        }




        // font-size: 0;
        // border: 1px solid rgb(51, 51, 51, 0.5);
    }

    .right {

        figure {
            &.tae02 {
                width: 500px;
                height: 400px;
                background: url(../../public/image/tae02.png) no-repeat center bottom/cover;
            }
        }
    }


    p {
        display: block;
    }
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: calc(100% - 20rem);
    margin: 0 0 3rem 0;

    .icon {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        img {
            width: 4rem;
            height: 4rem;
            filter: invert(20%);
        }

        .github {
            font-size: 2.5rem;
            margin: 0.7rem;
        }
    }

    .license {
        margin: 0 0 0 auto;

        p {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            font-size: 1.5rem;


            span {
                font-size: 1.3rem;

            }
        }
    }
}

.fp-watermark {
    margin: 0 auto;

    a {

        width: 100vh;
        background: inherit;
        padding: 0 0 2rem 0;

    }

}

// 반응형 시작

@media(max-width:768px) {


    .PFinner {
        position: relative;
        width: calc(100% - 10rem);
        margin: 0 auto;
    }

    .gnb {
        position: fixed;
        width: calc(100% - 10rem);
        z-index: 999;

        .navigation {
            display: flex;
            justify-content: space-between;
            line-height: 10rem;

            h1 {
                font-size: 2.3rem;
                font-weight: 600;
            }

            nav {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                ul {
                    position: fixed;
                    display: flex;
                    gap: 1rem;
                    flex-direction: column;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);

                    li {
                        display: inline-block;
                        width: 1.5rem;
                        height: 1.5rem;
                        margin: 0 3rem 0 0;
                        border: 1px solid #212529;
                        border-radius: 0.4rem;
                        font-size: 0;

                        a {
                            display: block;
                        }
                    }
                }
            }

            .dark_btn {
                display: block;
            }
        }
    }

    .cover {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        height: 100vh;
        margin: 0 auto;

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                text-indent: -0.3rem;
                font-size: 3.5rem;
                font-weight: 400;
                margin: 0 0 1.5rem 0;
                line-height: 1.2;

                span {
                    font-size: 4.5rem;
                    font-weight: 600;
                }
            }

            p {
                text-align: left;
                margin: 2rem 0 0 0;
                font-size: 1.5rem;
                font-weight: 400;
            }
        }

        .right {
            display: none;


            figure {
                width: 400px;
                height: 520px;

                &.tae01 {
                    background: url(../../public/image/tae01.png)no-repeat center center/cover;
                }
            }

        }
    }


    .prototypeSlide {
        position: relative;
        width: auto;
        margin: 0 auto;


        .case {
            display: flex;
            gap: 3rem;
            justify-content: space-between;
            height: calc(100vh - 10rem);
            margin: 10rem 0 0 0;


            .inner {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                margin: 0 3rem 0 4rem;

                .content {
                    flex: 0.3;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .up {
                        h2 {
                            text-indent: 0.2rem;
                            font-size: 1.8rem;
                            margin: 0 0 1rem 0;
                        }

                        .stit {
                            font-size: 3.5rem;
                            font-weight: 500;
                            margin: 0 0 3rem 0;
                        }
                    }

                    .des {
                        white-space: pre-wrap;
                        word-break: keep-all;
                        font-size: 1.5rem;
                        line-height: 1.45;
                        margin: 0 0 3rem 0;
                    }

                    .down {

                        .type,
                        .font {
                            margin: 0 0 1.2rem 0;
                        }

                        dl {
                            display: flex;
                            gap: 1rem;

                            dt {
                                font-size: 1.7rem;
                                font-weight: 600;
                            }

                            dd {
                                font-size: 1.5rem;
                                line-height: 1.2;
                            }

                        }

                        .color {
                            display: flex;
                            gap: 1rem;
                            margin: 0 0 2.5rem 0;

                            dd {
                                font-size: 0;
                                width: 1.5rem;
                                height: 1.5rem;
                                border-radius: 0.4rem;
                                border: 1px solid rgb(51, 51, 51, 0.5);
                            }

                        }
                    }
                }

                .preview {
                    flex: 0.7;

                    figure {
                        width: 100%;
                        height: calc(100vh - 10rem);
                        border: 1px solid #212529;
                        border-radius: 1rem;
                        // overflow-y: hidden;

                        &.itm01 {
                            background: url(../../public/image/itm01.png) no-repeat center top/cover;
                        }

                        &.itm02 {
                            background: url(../../public/image/itm02.png) no-repeat center top/cover;
                        }

                        &.itm03 {
                            background: url(../../public/image/itm03.png) no-repeat center top/cover;
                        }

                        &.itm04 {
                            background: url(../../public/image/itm04.png) no-repeat center top/cover;
                        }

                        &.itm05 {
                            background: url(../../public/image/itm05.png) no-repeat center top/cover;
                        }
                    }

                    // ul {
                    //     display: flex;
                    //     gap: 1.5rem;
                    //     justify-content: flex-end;
                    //     margin: 0 0 4.5rem 0;
                    // }

                }
            }
        }
    }


    // slide button
    .section {
        position: relative;

        .slideArrows {
            position: absolute;
            top: 12rem;
            right: 6rem;

            button {

                padding: 0.5rem 0.5rem 0 0.5rem;
                font-size: 2rem;
                background: inherit;
                border: 1px solid #212529;
                border-radius: 0.5rem;
                cursor: pointer;

                &:hover {
                    background: rgb(160, 163, 201);
                    // border: 1px solid rgb(255, 255, 255, 0);
                }

                &:first-child {
                    margin: 0 0 0 -4rem;

                }

                &:last-child {
                    margin: 0 auto 0 0;
                }
            }

        }


    }

    .case {
        // margin: 10rem 0 0 0;
        width: auto;
        height: auto;
        margin: 0 4rem;

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1.5rem;
            width: auto;


            figure {
                width: auto;
                height: 157px;
                border-radius: 1rem;
                margin: 0 0 1.5rem 0;
                border: 1px solid #212529;

                &.training01 {
                    background: url(../../public/image/training01.png)no-repeat center top/cover;
                }

                &.training02 {
                    background: url(../../public/image/training02.png)no-repeat center top/cover;
                }

                &.training03 {
                    background: url(../../public/image/training03.png)no-repeat center top/cover;
                }
            }

            h3 {
                font-size: 17px;
                font-weight: 500;
                margin: 0 0 1rem 0;
                color: #212529;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    font-size: 14px;
                    font-weight: 400;
                    border: inherit;
                    background-color: rgb(208, 210, 235);
                }
            }
        }
    }


    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        margin: 0 auto;

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                text-indent: 0.2rem;
                font-size: 3.5rem;
                font-weight: 400;
                margin: 0 0 3rem 0;
                line-height: 1.2;

                span {
                    font-size: 4.5rem;
                    font-weight: 500;
                }
            }

            ul {
                margin: 0 0 3rem 0;

                li {
                    position: relative;
                    text-align: left;
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.6;
                    text-indent: 1.5rem;

                    &::before {
                        content: "";
                        position: absolute;
                        top: -0.2rem;
                        left: 1rem;
                        width: 3rem;
                        height: 3rem;
                        border-radius: 0.4rem;
                        background: rgb(160, 163, 201);
                        z-index: -1;
                    }

                    a {
                        display: inline-block;
                        margin: 0 0 0.5rem 1.5rem;
                        text-indent: 0.3rem;
                    }
                }

            }

            button {
                padding: 1rem 5rem;
                margin: 1rem auto;
                background: inherit;
                cursor: pointer;

                &:hover {
                    background: rgb(160, 163, 201);
                }
            }




            // font-size: 0;
            // border: 1px solid rgb(51, 51, 51, 0.5);
        }

        .right {
            display: none;
        }


        p {
            display: block;
        }
    }

    footer {
        display: flex;
        position: fixed;
        bottom: 0;
        width: calc(100% - 10rem);
        margin: 0 0 3rem 0;

        .icon {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;

            img {
                width: 4rem;
                height: 4rem;
                filter: invert(20%);
            }

            .github {
                font-size: 2.5rem;
                margin: 0.7rem;
            }
        }

        .license {
            display: none;
            margin: 0 0 0 auto;

            p {
                writing-mode: vertical-rl;
                text-orientation: mixed;
                font-size: 1.5rem;


                span {
                    font-size: 1.3rem;

                }
            }
        }
    }

    .fp-watermark {
        margin: 0;

        a {

            width: auto;
            background: inherit;
            padding: 0 0 2rem 0;

        }

    }
}