// 전역 css

// * {
//     outline: 1px solid #f00;
// }

html {
    font-size: 10px;

}

//https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Images/Using_CSS_gradients

body {
    font-size: 1.6rem;
    background: linear-gradient(217deg,
            rgba(251, 214, 227, 0.8),
            rgba(255, 255, 255, 0.2) 70.71%),
        linear-gradient(127deg,
            rgba(122, 130, 177, 0.8),
            rgba(255, 255, 255, 0.8) 70.71%),
        linear-gradient(336deg,
            rgba(50, 63, 159, 1),
            rgba(32, 37, 77, 1) 70.71%);
}

.PFinner {
    position: relative;
    width: 140rem;
    margin: 0 auto;

}

.btn {
    padding: 0.7rem 2.3rem;
    border: 1px solid #333;
    border-radius: 0.5rem;

}


header {}


.section {
    width: 120rem;
    margin: 0 auto;
}

.case {
    display: flex;
    gap: 50px;
    flex-direction: row;
    // padding: 10rem 0 5rem 0;
    padding: 15rem 0 10rem 0;
    // align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .keyword {
        display: flex;
        gap: 1.5rem;
        margin: 0 0 1rem 0;
        font-size: 1.3rem;
    }

    h2 {
        font-size: 5rem;
        margin: 0 0 1rem 0;
    }

    .stit {
        font-size: 2.5rem;
    }


}

.preview {
    display: flex;
    gap: 100px;
    flex-direction: column;
    justify-content: space-between;

    ul {
        display: flex;
        gap: 1.5rem;
        justify-content: flex-end;
    }

    img {
        width: 80rem;
        height: 40rem;
        background: #333;
    }

}

.color {
    margin: 0 0 1rem 0;

    dl {
        display: flex;
        gap: 1rem;

        dt {
            font-weight: 600;
        }

        dd {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background: #333;
        }
    }
}

.font {
    margin: 0 0 1rem 0;

    dl {
        display: flex;
        gap: 1rem;

        dt {
            font-weight: 600;
        }

        dd {}
    }

    // p {
    //     white-space: pre;
    // }
}

.des {
    line-height: 1.2;
}








.fp-watermark {
    display: none;
}