// 전역 css

// * {
//     outline: 1px solid #f00;
// }

html {
    font-size: 10px;
    height: 100%;
}

//https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Images/Using_CSS_gradients

body {

    height: 100%;
    font-size: 1.6rem;
    background: linear-gradient(217deg,
            rgba(251, 214, 227, 0.8),
            rgba(255, 255, 255, 0.1) 70.71%),
        linear-gradient(127deg,
            rgba(202, 212, 255, 1),
            rgba(255, 255, 255, 1) 70.71%),
        linear-gradient(336deg,
            rgba(50, 63, 159, 0.9),
            rgba(32, 37, 77, 1) 70.71%);
    // background: linear-gradient(217deg,
    //         rgba(251, 214, 227, 0.8),
    //         rgba(255, 255, 255, 0.2) 70.71%),
    //     linear-gradient(127deg,
    //         rgba(122, 130, 177, 0.8),
    //         rgba(255, 255, 255, 0.8) 70.71%),
    //     linear-gradient(336deg,
    //         rgba(140, 157, 190, 1),
    //         rgba(36, 37, 77, 1) 80%);
}

.Wrap {
    position: relative;
    height: 100vh;

    #text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        stroke-dasharray: 951;
        animation: 3s fillSvg infinite;

        // https://mingoogle.tistory.com/m/9
        // https://www.youtube.com/watch?v=6sGpaZih3Yc
        // document.querySelector("polyline").getTotalLength()
        // 951.965576171875

        @keyframes fillSvg {
            0% {
                stroke-dashoffset: 951;
            }

            100% {
                stroke-dashoffset: 0;
            }
        }

        .loading {
            height: 4rem;
            width: 8rem;

            svg {
                .cls-1 {
                    fill: none;
                    stroke: #262e56;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 5px;
                }
            }
        }
    }

}


.PF {
    &.on {
        background:
            // rgb(158, 186, 243)
            // rgb(53, 58, 175)
            // rgba(50, 63, 159, 0.9),
            linear-gradient(217deg,
                rgba(251, 214, 227, 0.5),
                rgba(255, 255, 255, 0) 70.71%),
            linear-gradient(127deg,
                rgba(122, 130, 177, 0.5),
                rgba(0, 0, 0, 0.4) 70.71%),
            linear-gradient(336deg,
                rgba(140, 157, 190, 0.6),
                rgb(42, 43, 105) 80%);
        color: #f7f7f7;

        .btn {
            border: 1px solid #f7f7f7;
        }

        figure {
            img {
                border: 1px solid rgb(247, 247, 247, 0);
            }
        }

        .icon {
            img {
                filter: invert(94%) sepia(5%) saturate(81%) hue-rotate(1deg) brightness(122%) contrast(94%);
            }
        }

        .color {
            dd {
                border: 1px solid rgb(247, 247, 247, 0);
            }
        }
    }
}

.PFinner {
    position: relative;
    width: calc(100% - 10rem);
    margin: 0 auto;

}

.btn {
    padding: 0.7rem 1.7rem;
    border: 1px solid #333333;
    border-radius: 0.5rem;
}

.Header {}


.section {
    width: 130rem;
    margin: 0 auto;
}

.cover {
    display: flex;
    justify-content: space-between;


    .left {
        display: flex;
        flex: 0.7;
        align-items: center;

        h2 {
            text-indent: -0.3rem;
            font-size: 6rem;
            margin: 0 0 1.5rem 0;
            line-height: 1.2;
        }
    }

    .right {
        display: flex;
        flex: 0.3;
        align-items: center;


        figure {
            width: 500px;
            height: 500px;
        }

        .tae01 {
            background: url(../../public/image/tae.png) no-repeat center center/cover;
        }
    }



}

.case {

    .skill {
        ul {
            display: flex;
            gap: 1.5rem;
            justify-content: flex-end;
            margin: 0 0 1.5rem 0;

            li {
                font-size: 1.3rem;
                font-weight: 500;
            }
        }
    }

}


.scase {
    display: flex;
    gap: 10rem;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 35rem);
    // margin: 0 0 3.5rem 0;
    overflow: hidden;

    .content {
        display: flex;
        flex: 0.3;
        flex-direction: column;
        justify-content: space-between;
    }

    h2 {
        text-indent: -0.3rem;
        font-size: 6rem;
        margin: 0 0 1.5rem 0;
    }

    .stit {
        font-size: 3rem;
        margin: 0 0 3rem 0;
    }


    .type,
    .font {
        margin: 0 0 2.5rem 0;
        line-height: 1.45;
    }


    dt {
        font-size: 1.7rem;
        font-weight: 600;
        margin: 0 0 0.5rem 0;
    }

    dd {
        font-size: 1.5rem;
    }

    .preview {
        display: flex;
        flex: 0.7;
        flex-direction: column;
        justify-content: space-between;

        // ul {
        //     display: flex;
        //     gap: 1.5rem;
        //     justify-content: flex-end;
        //     margin: 0 0 4.5rem 0;
        // }

        figure {
            width: 100%;
            height: 100%;
            border: 1px solid hsl(0, 0%, 20%);
            border-radius: 1rem;
            // overflow-y: hidden;

            &.itm01 {
                background: url(../../public/image/itm01.png) no-repeat center top/cover;
            }

            &.itm02 {
                background: url(../../public/image/itm02.png) no-repeat center top/cover;
            }

            &.itm03 {
                background: url(../../public/image/itm03.png) no-repeat center top/cover;
            }
        }

    }
}

.MainSlider {
    position: relative;

    .slideArrows {

        button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 1rem 1rem 0.5rem 1rem;
            font-size: 2rem;
            background: inherit;
            border: 1px solid #333;
            border-radius: 0.5rem;
            cursor: pointer;

            &:hover {
                background: rgb(160, 163, 201);
                // border: 1px solid rgb(255, 255, 255, 0);
            }

            &:first-child {
                margin: 0 0 0 -700px;

            }

            &:last-child {
                margin: 0 0 0 700px;
            }
        }

    }


}

.color {
    display: flex;
    gap: 1rem;
    margin: 0 0 2.5rem 0;

    dd {
        font-size: 0;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid rgb(51, 51, 51, 0.5);
    }

}

.des {
    white-space: pre-wrap;
    font-size: 1.5rem;
    line-height: 1.45;
}


// 슬라이드 기본 padding
.slick-list {
    padding: 0 -1.5rem;
}

.slick-slide {
    padding: 0 1.5rem;
}

.loading {}

// 저작권 나중에 편집
// .fp-watermark {
//     display: none;
// }

.dark_btn {
    position: relative;

    button {
        // position: absolute;
        // top: 0;
        // left: 0;
        visibility: hidden;
        width: 60px;
        z-index: -1;
    }

    label {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: inline-block;
        width: 60px;
        height: 30px;
        background: rgb(160, 163, 201);
        // background: rgb(168, 160, 190);
        font-size: 0;
        border-radius: 15px;

        &::after {
            content: "";
            position: absolute;
            width: 26px;
            height: 26px;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            background: #fff
        }

        &.on::after {
            background: rgb(83, 70, 92);
            left: auto;
            right: 2px;
        }
    }
}